/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.g.cs
*.g.vb
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dbmdl
*.generated.cs
*.orig
*.vs10x
*.mdf
*.MDF
*.ldf
*.LDF
Thumbs.db
[Bb]in
[Db]ebug*/
obj/
sql/
[Rr]elease*/
ClientBin/*.xap
_ReSharper*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
TempFiles/
Resources/Resource.Designer.cs
TestResults/

packages/
