@model TimeScanner.DSA.EF.Calendar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>ต้องการลบกิจกรรมใช่หรือไม่?</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ยืนยัน" class="btn btn-default" /> |
            @Html.ActionLink("กลับไปหน้าหลัก", "Index")
        </div>
    }
